<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Вебсайт</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url(static/image/back.jpg);
            background-size: cover;
            color: #fff;  /* Цвет текста на фоне */
            padding: 50px;
            text-align: center;
        }
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Здесь будет интересный контент.</p>
</body>
</html>